/*arquivo css do prjeto*/


body {
    font-family: 'Poppins', sans-serif;
}
header{
    text-align: center;
    background: linear-gradient(rgb(242, 211, 211),rgb(242, 212, 212) ,#fff);
}
nav {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;    
}
nav a {
    background-color: rgb(3, 3, 3);
    border: 2px solid rgb(209, 110, 110);
    padding: 10px 45px;
    text-decoration: none;
    font-size: 18px;
    border-radius:8px; 
    color:#fff;
}
nav a:hover{
    color:#000;
    background-color: #fff;
    border: 2px solid rgb(209, 110, 110);
    box-shadow: 5px 3px 3px rgb(209, 110, 110); 
}
main{
    margin-top: 20px;
}
.imgname {
    height: 300px;
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 h2 {
    font-size: 45px;
    background-color: rgba(255, 255, 255, 0.437);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
.textos{
    width: 800px;
    margin:auto;
    text-align: center;
}
.titulo{
    font-size: 22px;
    margin: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgb(209, 110, 110);
}
.paragrafo{
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0;
}
.textos span{
    font-weight: bold;
}
#servicos{
    background-image: url(/img/beneficios.jpg);
    padding: 20px;
}
#servicos .itens{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.421);
    height: 220px;
    margin: auto;
    border-radius: 20px;
    padding: 25px;
}
#servicos .itens p{
    text-align: center;
    font-size: 22px;
    margin: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgb(209, 110, 110);
}
#servicos .title-beneficios{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
#servicos ul li {
    margin: 12px 0;
    text-align: center;
    font-weight: 400;
}
#servicos ul li:hover {
    padding: 5px;
    transform:scale(1.3) ;
    font-weight:  bold;
    cursor: pointer;
}
#horario-funcionamento{
    margin: auto;
}
#horario-funcionamento .container{
    width: 500px;
    margin: auto;
    padding: 30px 0;
}
#horario-funcionamento table{
    margin: auto;
}
#horario-funcionamento table th{
    background-color: rgb(66, 68, 68);
    width: 150px;
    border: 1px solid #000
}
#horario-funcionamento table td{
    border: 1px solid black;
    text-align: center; 
    padding: 2px 0px;
}
#video{
    margin-top: 10px;
    padding: 30px;
    text-align: center;
    background-image: url(/img/bkg-video.jpg);
    background-size: cover;
    background-position: center;
}
footer{
    background: linear-gradient(#fff,rgb(242, 212, 212),rgb(242, 212, 212),rgb(242, 211, 211))
}
footer .container{
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .midias{
    width: 320px;
    display: flex;
    justify-content: space-around;
}
footer .midias a {
    text-decoration: none;
    transition: 0.3s;
    display:inline-block;
}
footer .midias a:hover{
    transform: translateY(-15px)
}
footer .midias img{
  width: 50px; 
}
/*Produto*/
.produtos{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
}
.produtos .produto{
    width: 250px ;
    border: 2px solid rgb(209, 110, 110);
    text-align: center;
    border-radius: 15px;
    padding: 15px ;
}
.produtos .produto:hover{
    background-color: rgb(203, 194, 194);
    font-weight: bold;
    border-color: rgb(140, 140, 202);
    cursor: pointer;
}
.produtos .produto:active{
    border-color: black;
}
.produtos .produto img:hover {
    transition: .9s;
    transform:scale(1.1) translateY(-5px);
}
main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid rgb(173, 131, 131);
}

main form input:focus {  
    outline: none;
    border:dashed rgb(68, 66, 66);    
}

main form label {
    margin-top: 15px;
}

main form textarea {
    width: 300px;
    border-radius: 5px; 
    border: 2px solid rgb(209, 110, 110);       
}

main form textarea:focus {  
    outline: none;
    border:dashed rgb(68, 66, 66);    
}

main form button {
    height: 40px;
    width: 300px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid rgb(68, 66, 66);
    background-color: rgb(209, 110, 110);
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
}

main form button:hover {
    color:#000;
    background-color: white;
    box-shadow: 5px 3px 20px rgb(209, 110, 110);
}

/*main form #nome{
    margin: 5px 0;
}
main form #email{
    margin: 5px 0;
}
main form #telefone{
    margin: 5px 0;
}
main form #mensagem{
    margin: 5px 0;
}
main form button{
    margin: 5px 0;
}
*/
@media(max-width:768px) {
    .textos{
        width: unset;
    }
    .produtos{
        flex-wrap: wrap;
        align-content: center;
    }
    .produto{
        margin-top: 30px;
    }
}
@media (max-width:540px){
    nav{
        flex-direction: column;
        width: unset;
        text-align: center;  
    }
    nav a{
        margin-bottom: 10px;
    }
    #servicos .itens{
        width: unset;
    }
    #horario-funcionamento .container{
        width: unset;
    }
    #video iframe{
        width: 100%;
    }
    footer .container{
        flex-direction: column;
    }   
    footer .midias{
        padding-bottom: 25px;
    }  
}
